# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# API Configuration
API_BASE_URL=http://183.136.134.132:168
API_AUTHORIZATION_TOKEN=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NjU2MzQ5NzIsImlhdCI6MTc2NDc3MDk3MiwiaWQiOjQ2LCJpc3MiOiJsdmEiLCJuYmYiOjE3NjQ3NzA5NzIsInBhc3N3b3JkIjoiJDJhJDEwJEtySHpYQmRrNlpDM0hxQlpVZW1YOU9Ealh5aXkxcUtwWUxwY2l3c25yOGc3dXhWN0ozZTFLIiwicm9sZUlkIjoxOCwidXNlcm5hbWUiOiJjZXNoaTg4OCJ9.ypX5pJ_OUiZN3tE-ZjMBIVALtbbY34SJGl6_7XGLRDs
API_COOKIE=mysession=MTc2NDc3MDk3MnxOd3dBTkRaUk5FeFJWVlExVWxoV1ExWllSVkkyVlZwWlUwRTJOMGxYVjB4U1UwZEZWRlEzVjFKR1RrNVpRbGd6VDBvM1ExQlJTRUU9fNuf00VDUWbTJV6gPy0wOTjkWWV2AUcR_bc5EAXXU3wh; http_Path=%2Fwww%2Fwwwroot%2Fsq; 9fd3d874e8d42fcc119a285e0f9ce2a5=225930d3-0969-4f7a-9da9-8bf94b260b72.ahUTlk9btJNvQxi9IEL9xZ0_8RI

# Database Configuration
DATABASE_PATH=orders.db

# Order Sync Configuration
ORDER_CHECK_INTERVAL=300
PAGE_SIZE=500
SYNC_TASK_INTERVAL=180

